@using DemoAdminLTE.App_GlobalResources

<footer class="main-footer">
    <div class="pull-right hidden-xs">
        @Strings.Version 1.0.0
    </div>
    @Common.AppName @Common.Admin &copy; @DateTime.Now.Year &there4; @Strings.PoweredBy <a href="https://chipfc.com" target="_blank">@Common.Company</a>.
</footer>