@model DemoAdminLTE.Models.Product

@{
    Layout = null;
    string action = ViewContext.RouteData.Values["action"].ToString();
    bool disabled = (action == "Delete") ? true : false;
    string submit = (action == "Delete") ? Actions.Delete : Actions.Save;
    string submitCssClass = (action == "Delete") ? "danger" : "primary";
}

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">@Strings.ProductInfo</h3>
            </div>

            @using (Html.BeginForm(action, "Product", FormMethod.Post, new { role = "form" }))
            {
                <div class="box-body">
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.Id)

                    @Html.FormEditorFor(model => model.Name, disabled)
                    @Html.FormCheckBoxFor(model => model.Status, disabled)
                    @Html.FormEditorFor(model => model.Description, disabled)

                    @Html.FormEditorFor(model => model.SKU, disabled)

                    @Html.FormDropDownList(model => model.CategoryId, "CategoryId", disabled, "apply_selectpicker")

                    @Html.FormEditorFor(model => model.UnitPrice, disabled)
                    @Html.FormEditorFor(model => model.CurrencyUnit, disabled)
                    @Html.FormEditorFor(model => model.UnitType, disabled)
                    @Html.FormEditorFor(model => model.LowQuantityThreshold, disabled)

                    <div class="box-footer">
                        <button type="submit" class="btn btn-@submitCssClass"><span class="ion-ios-plus-outline"></span> @submit</button>
                        <a href="@Url.Action("Index", "Product")" class="btn btn-link pull-right"><span class="ion-ios-close-outline"></span> @Actions.Cancel</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

