@model DemoAdminLTE.Models.Transaction

@{
    Layout = null;
    string action = ViewContext.RouteData.Values["action"].ToString();
    bool disabled = (action == "Delete") ? true : false;
    string submit = (action == "Delete") ? Actions.Delete : Actions.Save;
    string submitCssClass = (action == "Delete") ? "danger" : "primary";
}

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">@Strings.TransactionInfo</h3>
            </div>

            @using (Html.BeginForm(action, "Transaction", FormMethod.Post, new { role = "form" }))
            {
                <div class="box-body">
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.Id)

                    @Html.FormDropDownList(model => model.DeviceId, "DeviceId", disabled, "apply_selectpicker")
                    @Html.FormDropDownList(model => model.ProductId, "ProductId", disabled, "apply_selectpicker")

                    @Html.FormEditorFor(model => model.Quantity, disabled)

                    <div class="box-footer">
                        <button type="submit" class="btn btn-@submitCssClass"><span class="ion-ios-plus-outline"></span> @submit</button>
                        <a href="@Url.Action("Index", "Transaction")" class="btn btn-link pull-right"><span class="ion-ios-close-outline"></span> @Actions.Cancel</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

