@model DemoAdminLTE.Models.Transaction

@{
    ViewBag.Title = Pages.TransactionDetails;
}

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">@Strings.TransactionInfo</h3>
            </div>
            <div class="box-body">
                <table class="table table-striped">
                    <tbody>

                        <!-- Transaction -->
                        <tr><th colspan="3">@Strings.TransactionGeneral</th></tr>

                        <tr>
                            <th style="width: 10px"></th>
                            <td>@Html.DisplayNameFor(model => model.Id)@Html.DisplayFor(model => model.Id)</td>
                            <td>@Html.DisplayFor(model => model.CreationDate)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.DeviceId)</td>
                            <td>#@Html.DisplayFor(model => model.DeviceId)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.ProductId)</td>
                            <td>#@Html.DisplayFor(model => model.ProductId)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.Product_UnitPrice)</td>
                            <td>@Html.DisplayFor(model => model.Product_UnitPrice) @Html.DisplayFor(model => model.Product_CurrencyUnit)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.Quantity)</td>
                            <td>@Html.DisplayFor(model => model.Quantity) @Html.DisplayFor(model => model.Product_UnitType)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.Product_TotalPrice)</td>
                            <td>@Html.DisplayFor(model => model.Product_TotalPrice) @Html.DisplayFor(model => model.Product_CurrencyUnit)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.Note)</td>
                            <td>@Html.DisplayFor(model => model.Note)</td>
                        </tr>

                        <!-- Device -->
                        <tr><th colspan="3">@Strings.DeviceBackup</th></tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.Device_Name)</td>
                            <td>@Html.DisplayFor(model => model.Device_Name)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.Device_SerialNumber)</td>
                            <td>@Html.DisplayFor(model => model.Device_SerialNumber)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.Device_MACAddress)</td>
                            <td>@Html.DisplayFor(model => model.Device_MACAddress)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.Device_TypeName)</td>
                            <td>@Html.DisplayFor(model => model.Device_TypeName)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.Device_Location)</td>
                            <td>@Html.DisplayFor(model => model.Device_Location)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.Device_Latitude)</td>
                            <td>@Html.DisplayFor(model => model.Device_Latitude)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.Device_Longitude)</td>
                            <td>@Html.DisplayFor(model => model.Device_Longitude)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.Device_HardwareVersion)</td>
                            <td>@Html.DisplayFor(model => model.Device_HardwareVersion)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.Device_SoftwareVersion)</td>
                            <td>@Html.DisplayFor(model => model.Device_SoftwareVersion)</td>
                        </tr>

                        <!-- Product -->
                        <tr><th colspan="3">@Strings.ProductBackup</th></tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.Product_Name)</td>
                            <td>@Html.DisplayFor(model => model.Product_Name)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.Product_SKU)</td>
                            <td>@Html.DisplayFor(model => model.Product_SKU)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.Product_CategoryName)</td>
                            <td>@Html.DisplayFor(model => model.Product_CategoryName)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.Product_UnitPrice)</td>
                            <td>@Html.DisplayFor(model => model.Product_UnitPrice)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.Product_CurrencyUnit)</td>
                            <td>@Html.DisplayFor(model => model.Product_CurrencyUnit)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.Product_UnitType)</td>
                            <td>@Html.DisplayFor(model => model.Product_UnitType)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>@Html.DisplayNameFor(model => model.Product_InventoryBeforeTransaction)</td>
                            <td>@Html.DisplayFor(model => model.Product_InventoryBeforeTransaction)</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

