@model DemoAdminLTE.Models.Device

@{
    Layout = null;
    string action = ViewContext.RouteData.Values["action"].ToString();
    bool disabled = (action == "Delete") ? true : false;
    string submit = (action == "Delete") ? Actions.Delete : Actions.Save;
    string submitCssClass = (action == "Delete") ? "danger" : "primary";
}

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">@Strings.DeviceInfo</h3>
            </div>

            @using (Html.BeginForm(action, "Device", FormMethod.Post, new { role = "form" }))
            {
                <div class="box-body">
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.Id)

                    @Html.FormEditorFor(model => model.Name, disabled)
                    @Html.FormCheckBoxFor(model => model.Status, disabled)
                    @Html.FormEditorFor(model => model.Description, disabled)

                    @Html.FormEditorFor(model => model.SerialNumber, disabled)
                    @Html.FormEditorFor(model => model.MACAddress)

                    @Html.FormDropDownList(model => model.DeviceTypeId, "DeviceTypeId", disabled, "apply_selectpicker")

                    @Html.FormEditorFor(model => model.Location, disabled)
                    @Html.FormEditorFor(model => model.Latitude, disabled)
                    @Html.FormEditorFor(model => model.Longitude, disabled)

                    @Html.FormEditorFor(model => model.HardwareVersion, disabled)
                    @Html.FormEditorFor(model => model.SoftwareVersion, disabled)

                    @Html.FormCheckBoxFor(model => model.Activated, disabled)

                    @Html.FormEditorFor(model => model.Password, disabled)

                    @*@Html.HiddenFor(model => model.PinCode)*@
                    @*@Html.HiddenFor(model => model.Online)*@
                    @*@Html.HiddenFor(model => model.PinCodeGenerationTime)*@

                    <div class="box-footer">
                        <button type="submit" class="btn btn-@submitCssClass"><span class="ion-ios-plus-outline"></span> @submit</button>
                        <a href="@Url.Action("Index", "Device")" class="btn btn-link pull-right"><span class="ion-ios-close-outline"></span> @Actions.Cancel</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

